<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>      <th:block th:fragment="headerfiles">          <link rel="icon" th:href="@{/images/logos/logoIcon.png}" type="image/png"/>
    </th:block>
</head>
<body>    <nav th:fragment="header">
        <th:block th:replace="~{fragments/header :: headerfiles}"></th:block><div>
            <!-- Added logo on the left side -->
            <div>
                <a th:href="@{/}">
                    <img th:src="@{/images/logos/logoIcon.png}" alt="E-Cycle Logo Icon">
                </a>
            </div>
        </div>
    </nav>
</body>
</html>