/* Custom Fonts */
@font-face {
    font-family: 'Croogla4F';
    src: url('../fonts/Croogla4F.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Base font settings */
body, html, * {
    font-family: 'Croogla4F', Arial, sans-serif;
    font-weight: normal;
}
