<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error - E-Cycle</title>    <!-- Include favicon -->
    <link rel="icon" th:href="@{/images/logos/logoIcon.png}" type="image/png"/>
</head>
<body>    
    <!-- Include the header navbar -->
    <nav th:replace="~{fragments/header :: header}"></nav>    <!-- Error content -->
    <div>
        <div>
            <div th:text="${status}">404</div>
            <div>Error</div>
            <div th:text="${error}">Page not found</div>
        </div>
    </div>
</body>
</html>
