<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>    
    <title>E-Cycle - Welcome</title>
    <link rel="icon" th:href="@{/images/logos/logoIcon.png}" type="image/png">
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="container">
        <div class="logo">
            <img th:src="@{/images/logos/logo.png}" alt="E-Cycle Logo">
        </div>
        <div class="links">
            <a href="/login">Login</a>
            <a href="/registration">Registration</a>
        </div>
    </div>
</body>
</html>
