<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>    
    <title>E-Cycle - Welcome</title>
    <link rel="icon" th:href="@{/images/logos/logoIcon.png}" type="image/png">
    <link rel="stylesheet" th:href="@{/css/index.css}">
</head>
<body>
    <section>
        <div class="logo-container">
            <img th:src="@{/images/logos/logo.png}" alt="E-Cycle Logo">
        </div>
        <div class="button-group">
            <a href="/login">Log In</a>
            <a href="/registration">Sign In</a>
        </div>
    </section>
</body>
</html>